# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"
#../Weather_Database/
# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Punta Arenas,CL,-53.1500,-70.9167,57.31,51,20,8.05,few clouds
1,1,Hermanus,ZA,-34.4187,19.2345,64.80,85,0,13.02,light rain
2,2,Nichlaul,IN,27.3167,83.7333,61.68,65,0,2.59,clear sky
3,3,Ust-Tsilma,RU,65.4410,52.1498,24.93,95,100,9.24,light snow
4,4,Severo-Kurilsk,RU,50.6789,156.1250,33.73,64,97,13.42,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
18,18,Alofi,NU,-19.0595,-169.9187,76.44,75,76,19.64,broken clouds
19,19,Campo Largo,BR,-25.4586,-49.5283,70.66,53,47,1.99,scattered clouds
20,20,Butaritari,KI,3.0707,172.7902,79.79,77,100,15.66,overcast clouds
21,21,Kapaa,US,22.0752,-159.3190,82.38,68,100,19.57,overcast clouds
22,22,Union,US,40.6334,-74.2663,71.51,59,0,8.05,clear sky
23,23,Puerto Ayora,EC,-0.7393,-90.3518,76.96,77,39,5.99,scattered clouds
24,24,Manokwari,ID,-0.8667,134.0833,77.74,82,100,6.04,moderate rain
25,25,Vaini,TO,-21.2000,-175.2000,77.36,86,84,20.54,broken clouds
30,30,Avarua,CK,-21.2078,-159.7750,77.05,61,20,9.22,few clouds
33,33,Todos Santos,MX,23.4500,-110.2167,80.31,60,39,8.68,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = pd.DataFrame(preferred_cities_df).dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
18,18,Alofi,NU,-19.0595,-169.9187,76.44,75,76,19.64,broken clouds
19,19,Campo Largo,BR,-25.4586,-49.5283,70.66,53,47,1.99,scattered clouds
20,20,Butaritari,KI,3.0707,172.7902,79.79,77,100,15.66,overcast clouds
21,21,Kapaa,US,22.0752,-159.3190,82.38,68,100,19.57,overcast clouds
22,22,Union,US,40.6334,-74.2663,71.51,59,0,8.05,clear sky
23,23,Puerto Ayora,EC,-0.7393,-90.3518,76.96,77,39,5.99,scattered clouds
24,24,Manokwari,ID,-0.8667,134.0833,77.74,82,100,6.04,moderate rain
25,25,Vaini,TO,-21.2000,-175.2000,77.36,86,84,20.54,broken clouds
30,30,Avarua,CK,-21.2078,-159.7750,77.05,61,20,9.22,few clouds
33,33,Todos Santos,MX,23.4500,-110.2167,80.31,60,39,8.68,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp   Current Weather      Lat       Lng
18         Alofi      NU     76.44     broken clouds -19.0595 -169.9187
19   Campo Largo      BR     70.66  scattered clouds -25.4586  -49.5283
20    Butaritari      KI     79.79   overcast clouds   3.0707  172.7902
21         Kapaa      US     82.38   overcast clouds  22.0752 -159.3190
22         Union      US     71.51         clear sky  40.6334  -74.2663
23  Puerto Ayora      EC     76.96  scattered clouds  -0.7393  -90.3518
24     Manokwari      ID     77.74     moderate rain  -0.8667  134.0833
25         Vaini      TO     77.36     broken clouds -21.2000 -175.2000
30        Avarua      CK     77.05        few clouds -21.2078 -159.7750
33  Todos Santos      MX     80.31  scattered clouds  23.4500 -110.2167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
18,Alofi,NU,76.44,broken clouds,-19.0595,-169.9187,
19,Campo Largo,BR,70.66,scattered clouds,-25.4586,-49.5283,
20,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,
21,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,
22,Union,US,71.51,clear sky,40.6334,-74.2663,
23,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,
24,Manokwari,ID,77.74,moderate rain,-0.8667,134.0833,
25,Vaini,TO,77.36,broken clouds,-21.2000,-175.2000,
30,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,
33,Todos Santos,MX,80.31,scattered clouds,23.4500,-110.2167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
18,Alofi,NU,76.44,broken clouds,-19.0595,-169.9187,Taloa Heights
19,Campo Largo,BR,70.66,scattered clouds,-25.4586,-49.5283,Hotel Campo Largo Express
20,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
21,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Union,US,71.51,clear sky,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
23,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Manokwari,ID,77.74,moderate rain,-0.8667,134.0833,Swiss Belhotel Manokwari
25,Vaini,TO,77.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
30,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
33,Todos Santos,MX,80.31,scattered clouds,23.4500,-110.2167,Hotel California Todos Santos

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
import numpy as np
print(hotel_df.replace(r'^\s*$', np.nan, regex=True))

            City Country  Max Temp   Current Weather      Lat       Lng  \
18         Alofi      NU     76.44     broken clouds -19.0595 -169.9187
19   Campo Largo      BR     70.66  scattered clouds -25.4586  -49.5283
20    Butaritari      KI     79.79   overcast clouds   3.0707  172.7902
21         Kapaa      US     82.38   overcast clouds  22.0752 -159.3190
22         Union      US     71.51         clear sky  40.6334  -74.2663
..           ...     ...       ...               ...      ...       ...
676      Bairiki      KI     82.40        few clouds   1.3292  172.9752
679       Matara      LK     76.14   overcast clouds   5.9485   80.5353
681      Merauke      ID     79.52   overcast clouds  -8.4667  140.3333
685         Daru      PG     80.46   overcast clouds  -9.0763  143.2092
690    Kununurra      AU     78.78     broken clouds -15.7667  128.7333

                                    Hotel Name
18                               Taloa Heights
19                   Hotel Campo Largo Express
20                          Isles Sunset Lodge
21         Sheraton Kauai Coconut Beach Resort
22   Homewood Suites by Hilton Newark-Cranford
..                                         ...
676                      Tarawa Boutique Hotel
679                                        NaN
681                                        NaN
685                                 Daru Lodge
690                            Hotel Kununurra

[240 rows x 7 columns]

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True).dropna()
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
18,Alofi,NU,76.44,broken clouds,-19.0595,-169.9187,Taloa Heights
19,Campo Largo,BR,70.66,scattered clouds,-25.4586,-49.5283,Hotel Campo Largo Express
20,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
21,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Union,US,71.51,clear sky,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
23,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Manokwari,ID,77.74,moderate rain,-0.8667,134.0833,Swiss Belhotel Manokwari
25,Vaini,TO,77.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
30,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
33,Todos Santos,MX,80.31,scattered clouds,23.4500,-110.2167,Hotel California Todos Santos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Weather Description</dt><dd>broken clouds and 76.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Campo Largo Express</dd>\n<dt>City</dt><dd>Campo Largo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Weather Description</dt><dd>scattered clouds and 70.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 79.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Homewood Suites by Hilton Newark-Cranford</dd>\n<dt>City</dt><dd>Union</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>clear sky and 71.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Weather Description</dt><dd>scattered clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss Belhotel Manokwari</dd>\n<dt>City</dt><dd>Manokwari</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Weather Description</dt><dd>moderate rain and 77.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Weather Description</dt><dd>broken clouds and 77.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Weather Description</dt><dd>few clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel California Todos Santos</dd>\n<dt>City</dt><dd>Todos Santos</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Weather Description</dt><dd>scattered clouds and 80.31 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
18 -19.0595 -169.9187
19 -25.4586  -49.5283
20   3.0707  172.7902
21  22.0752 -159.3190
22  40.6334  -74.2663
23  -0.7393  -90.3518
24  -0.8667  134.0833
25 -21.2000 -175.2000
30 -21.2078 -159.7750
33  23.4500 -110.2167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
import matplotlib.pyplot as plt
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Save fig as WeatherPy_vacation_map.png
# plt.savefig("WeatherPy_vacation_map.png")

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))