# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import matplotlib.pyplot as plt

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Set the file path to import the WeatherPy_vacation.csv file
file_path = "../Vacation_Search/WeatherPy_vacation.csv"
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,18,Alofi,NU,76.44,broken clouds,-19.0595,-169.9187,Taloa Heights
1,19,Campo Largo,BR,70.66,scattered clouds,-25.4586,-49.5283,Hotel Campo Largo Express
2,20,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
3,21,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,22,Union,US,71.51,clear sky,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
5,23,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,24,Manokwari,ID,77.74,moderate rain,-0.8667,134.0833,Swiss Belhotel Manokwari
7,25,Vaini,TO,77.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,30,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
9,33,Todos Santos,MX,80.31,scattered clouds,23.4500,-110.2167,Hotel California Todos Santos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
# Display sample data
locations.head(10)

       Lat       Lng
0 -19.0595 -169.9187
1 -25.4586  -49.5283
2   3.0707  172.7902
3  22.0752 -159.3190
4  40.6334  -74.2663
5  -0.7393  -90.3518
6  -0.8667  134.0833
7 -21.2000 -175.2000
8 -21.2078 -159.7750
9  23.4500 -110.2167

In [7]:
from IPython.display import display
# Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
#max_temp = vacation_df["Max Temp"]
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
display(fig)

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [8]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Scituate"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Scituate"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Yarmouth"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Westport"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Union"]

In [9]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
157,550,Yarmouth,US,73.87,clear sky,41.7057,-70.2286,Blue Rock Resort

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [10]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
print(start, end, stop1, stop2, stop3, sep="\n")

[ 42.1959 -70.7259]
[ 42.1959 -70.7259]
[ 41.7057 -70.2286]
[ 41.1415 -73.3579]
[ 40.6334 -74.2663]

In [11]:
len(stop1)

2

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [19]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = "DRIVING")
# Add the layer to the map
fig.add_layer(vacation_itinerary)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [13]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,673,Scituate,US,71.15,clear sky,42.1959,-70.7259,The Inn at Scituate Harbor
1,550,Yarmouth,US,73.87,clear sky,41.7057,-70.2286,Blue Rock Resort
2,165,Westport,US,70.18,clear sky,41.1415,-73.3579,The Westport Inn
3,22,Union,US,71.51,clear sky,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [14]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))